// Include the input configurations
include "input.kdl"

// Include the layout configurations
include "layout.kdl"

// Include the keybind configurations
include "binds.kdl"

// Include the color scheme configuration
include "../../.local/state/sts/niri-theme.kdl"

// Include the miscellaneous configurations
include "misc.kdl"
