binds {

    // Display the list of important keybind
    Mod+Shift+Slash { show-hotkey-overlay; }

    // Open programs directly with a keybind
    Mod+T hotkey-overlay-title="Open a Terminal: kitty" { spawn "kitty"; }
    Mod+B hotkey-overlay-title="Open a Browser: librewolf" { spawn "librewolf"; }
    Mod+Space hotkey-overlay-title="Open a Launcher: fuzzel" { spawn "fuzzel"; }

    // Temporary binds
    //Mod+M { spawn "~/.local/scripts/fuzzel/theme-picker.sh"; }   
    //Mod+D { spawn "~/.local/scripts/reload-dots"; }
    
    // Switch between columns and workspaces
    Mod+H { focus-column-left;	  }
    Mod+J { focus-workspace-down; }
    Mod+K { focus-workspace-up;   }
    Mod+L { focus-column-right;   }

    // Move columns horizontally and between workspaces
    Mod+Alt+H { move-column-left;              }
    Mod+Alt+J { move-column-to-workspace-down; }
    Mod+Alt+K { move-column-to-workspace-up;   }
    Mod+Alt+L { move-column-right;             }

    // Stack and un-stack windows vertically
    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column;   }

    // Move and switch between windows vertically within a workspace    
    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    // Open or close an overview of the workspaces and columns
    Mod+O { toggle-overview; }

    // Close a window 
    Mod+Q { close-window; }

    // Toggle fullscreen on a window
    Mod+F       { maximize-column;   } 
    Mod+Alt+F { fullscreen-window; }

    // Resize a window
    Mod+R { switch-preset-column-width; }

   // Take screenshots
   Print     { screenshot;        }
   Alt+Print { screenshot-window; }

   // Quit niri
   Mod+Shift+E { quit; }

}
