layout {
  
    // Set the i3 gaps
    gaps 16

    // Set the preset column widths
    // These can be switched between with a keybind
    preset-column-widths {
        proportion 0.33333334
	proportion 0.50000000
	proportion 0.66666666
    }

    // Set the default column width
    default-column-width { proportion 0.5; }

    // Draw a border around the currently used column
    focus-ring {
	
	// Width of the border in pixels
	width 2

    }

    // Disable borders around other columns
    border { off; }

    // Disable shadows AROUND columns
    shadow { off; }

}

// Configure rounded corners for all windows
window-rule {

    // Radius is drawn in pixels
    geometry-corner-radius 12
    clip-to-geometry true

    // Also prevent the focus ring from drawing behind columns
    draw-border-with-background false

}
